Package: com.fazil.fpsoverlay
Name: FPSOverlay
Version: 7.0
Architecture: iphoneos-arm
Description: Compact iOS game performance overlay for LiveContainer.
Maintainer: Fazil
Author: Fazil
Section: Tweaks
