Package: com.fazil.fpsoverlay
Name: FPSOverlay
Version: 5.0
Architecture: iphoneos-arm64
Description: Simple text-only FPS and frame-time overlay for LiveContainer.
Maintainer: Fazil
Author: Fazil
Section: Tweaks
