Package: com.livecontainer.fpsoverlay
Name: FPS Overlay for LiveContainer
Version: 1.0.0
Architecture: iphoneos-arm
Description: Simple FPS and frame-time overlay for LiveContainer guest apps.
Maintainer: Local Build
Author: Local Build
Section: Tweaks
